<div class="row">
<%= form_tag login_path do %>
  <fieldset class="small-4 small-centered columns">
    <legend>Вход</legend>
  <div class="row">
    <div class="small-3 columns">
      <%= label_tag :login, 'Имя', :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= text_field_tag :login, params[:login] %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= label_tag :password, 'Пароль', :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= password_field_tag :password, params[:password] %>
    </div>
  </div>
  <div class="small-3 columns">
    <%= submit_tag 'Войти', :class => 'small button' %>
  </div>
  </fieldset>
<% end %>
</div>
