<div class="panel">
<h1><%= t(:listing_issues, scope: [:issues]) %></h1>
<% if @editor_permission %>
<%= form_tag import_issues_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class => 'small button' %>
<% end %>
<% end %>

<% i = 0 %>
<table width="100%">
	<tbody>
		<tr>
  <% @years.each do |year| %>
	<% i += 1 %>
			<td>
    <h2><%= "#{year} #{t(:year, scope: [:publications, :show])}" %></h2>
    <ul class="no-bullet">
	  <% @issues[year].each do |issue| %>
	    <li><%= link_to "#{t(:volume, scope: [:publications, :show])} #{issue.volume}, #{t(:num, scope: [:publications, :show])} #{issue.number}", issue %>
	  <% end %>
    </ul>
</td>
    <% if i.to_f/3 == (i.to_f/3).round %>
      </tr><tr>
    <% end %>
<% end %>
</tr>
</tbody>
</table>
</div>
<%= link_to 'New Issue', new_issue_path if @editor_permission %>
