<div class="panel">
<h1><%= "#{t('.year', :default => 'Год')} #{@issue.year}, #{t('.volume', :default => 'Том')} #{@issue.volume}, #{t('.num', :default => '№')} #{@issue.number}" %></h1>
<%= render 'publications/form' if @editor_permission %>
<ul class="no-bullet">
<%= render partial: 'publication', collection: @publications %>
</ul>
</div>
<% if @editor_permission %>
<%= link_to 'Edit', edit_issue_path(@issue), :class => 'small button' %> |
<%= link_to 'Back', issues_path, :class => 'small button' %>
<% end %>
