<div class="row">
<%= form_for @publication, url: controller.action_name == 'edit' ? issue_publication_path(@issue, @publication) : issue_publications_path(@issue) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :title_ru, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :title_ru %>
    </div>
    <div class="small-2 columns">
      <%= f.label :title_en, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :title_en %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :authors_ru, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :authors_ru %>
    </div>
    <div class="small-2 columns">
      <%= f.label :authors_en, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :authors_en %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :keywords_ru, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :keywords_ru %>
    </div>
    <div class="small-2 columns">
      <%= f.label :keywords_en, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :keywords_en %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :abstract_ru, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :abstract_ru %>
    </div>
    <div class="small-2 columns">
      <%= f.label :abstract_en, :class => 'right inline'  %>
    </div>
    <div class="small-4 columns">
      <%= f.text_area :abstract_en %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'small button' %>
  </div>
<% end %>
</div>
