<article class="panel">
<p>
  <strong><%= t('.issue') %></strong>
  <%= link_to "#{t('.year', :default => 'Год')} #{@issue.year}, #{t('.volume', :default => 'Том')} #{@issue.volume}, #{t('.num', :default => '№')} #{@issue.number}", @issue %>
</p>
<p class="authors"><%= params[:locale] == 'en' ? (@publication.authors_en.length > 0 ? @publication.authors_en : "Unavailable in English") : (@publication.authors_ru.length > 0 ? @publication.authors_ru : "Недоступно на русском языке") %>
<h1>
  <%= params[:locale] == 'en' ? (@publication.title_en ? @publication.title_en : "Unavailable in English") : (@publication.title_ru.length > 0 ? @publication.title_ru : "Недоступно на русском языке") %>
</h1>
<%= render partial: 'articles/first_image_attachment', locals: {image_attachment: @first_image_attachment } if @first_image_attachment %>
<dl>
  <dt><%= t('.keywords') %>
    <dd><%= params[:locale] == 'en' ? (@publication.keywords_en.length > 0 ? @publication.keywords_en : "Unavailable in English") : (@publication.keywords_ru.length > 0 ? @publication.keywords_ru : "Недоступно на русском языке") %>
  <dt><%= t('.abstract') %>
    <dd><%= params[:locale] == 'en' ? (@publication.abstract_en ? @publication.abstract_en : "Unavailable in English") : (@publication.abstract_ru ? @publication.abstract_ru : "Недоступно на русском языке") %>
</dl>
<%= render partial: 'articles/not_image_attachments', locals: {not_image_attachments: @not_image_attachments} if @not_image_attachments.count > 0 %>
<div class="left"><%= link_to t(:previous, scope: [:publications, :show]), issue_publication_path(@issue, @previous_publication) if @previous_publication %>
</div>
<div class="right"><%= link_to t(:next, scope: [:publications, :show]), issue_publication_path(@issue, @next_publication) if @next_publication %>
</div>
<ul class="clearing-thumbs" data-clearing>
<%= render partial: 'articles/image_attachment', collection: @image_attachments %>
</ul>
</article>
<% if @editor_permission %>
<%= form_for(@attachment, :url => attachments_path) do |f| %>
  <div style="display: none;">
    <%= text_field_tag :publication_id, @publication.id %>
  </div>  
  <div class="filefild">
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit t('.attach', :default => 'Прикрепить файл'), class: 'button small' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_issue_publication_path(@issue, @publication), class: 'button small' %>
<% end %>