<p>
  <strong><%= t('.issue') %></strong>
  <%= link_to "#{t('.year', :default => 'Год')} #{@issue.year}, #{t('.volume', :default => 'Том')} #{@issue.volume}, #{t('.num', :default => '№')} #{@issue.number}", @issue %>
</p>
<h1>
  <%= params[:locale] == 'ru' ? @publication.title_ru : @publication.title_en %>
</h1>
<dl>
  <dt><%= t('.authors') %>
    <dd><%= params[:locale] == 'ru' ? @publication.authors_ru : @publication.authors_en %>
  <dt><%= t('.keywords') %>
    <dd><%= params[:locale] == 'ru' ? @publication.keywords_ru : @publication.keywords_en %>
  <dt><%= t('.abstract') %>
    <dd><%= params[:locale] == 'ru' ? @publication.abstract_ru : @publication.abstract_en %>
</dl>

<% if @editor_permission %>
<%= form_for(@attachment, :url => attachments_path) do |f| %>
  <div style="display: none;">
    <%= text_field_tag :publication_id, @publication.id %>
  </div>  
  <div class="filefild">
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit t('.attach', :default => 'Прикрепить файл'), class: 'button small' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_issue_publication_path(@issue, @publication), class: 'button small' %>
<% end %>