<div class="row">
<%= form_for @user, :html => { :class => 'small-4 small-centered columns' } do |f| %>
  <div class="row">
    <div class="small-3 columns">
    <%= f.label :login, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :login %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
    <%= f.label :password, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
    <%= f.label :password_confirmation, 'Подтверждение', :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
    <%= f.label :group_id, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.select :group_id, options_for_select= @groups.collect {|p| [t(p.name, :scope => [:groups]), p.id] }, {:include_blank => ''} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'small button' %>
    <%= link_to 'Cancel', users_path, :class => 'small button' %>
  </div>
<% end %>
</div>