<%- model_class = User -%>
  <h1><%= @user.login %></h1>

<dl>
  <dt><strong><%= model_class.human_attribute_name(:group_id) %>:</strong></dt>
  <dd><%= @user.group.name %></dd>
</dl>

<div>
<ul class="button-group">
  <li><%= link_to 'Назад', users_path, :class => 'small button' %>
  <li><%= link_to 'Редактировать', edit_user_path(@user), :class => 'small button' %>
  <li><%= link_to 'Удалить', user_path(@user), :method => 'delete', :data => { :confirm => 'Уверены?' }, :class => 'small button alert' %>
</ul>
</div>
