<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='yandex-verification' content='79a6a2da689a9db6' />
    <meta name="google-site-verification" content="sfzpzKvU-ZAEOk5VZT0wQh2J9MGg19QVNlmoZq_5n34" />
    <title><%= content_for?(:title) ? yield(:title) : "#{t(:vestnik, scope: [:layout, :common])} #{t(:ismoi, scope: [:layout, :common])}" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render partial: 'layouts/menu' %>
<div class="row">
  <% if notice %>
  <div class="small-12 large-12 columns label">
    <%= notice %>
  </div>
  <% end %>
      <div class="small-12 large-12 columns title">
      <%= image_tag("gerb.png", size: '96', class: "left") %><h1><%= "#{t(:vestnik, scope: [:layout, :common])}" %><br /><%= "#{t(:ismoi, scope: [:layout, :common])}" %></h1>
      </div>
    </div>
<%= render partial: 'layouts/menu_form' if @editor_permission %>
     <div class="row">
      <% unless @news.count == 0 %>
      <div class="small-3 large-2 columns panel news"><h1>Новости</h1>
      <ul class="no-bullet">
        <%= render partial: 'layouts/news', collection: @news %>
      </ul>
      </div>
      <div class="small-9 large-10 columns">
        <% else %>
      <div class="small-12 large-12 columns">
        <% end %>
        <%= yield %>
      </div>
    </div>
    <% if @first_image_attachment %>
      <div id="first_image_attachment" class="reveal-modal medium">
        <%= image_tag(attachment_path(@first_image_attachment)) %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    <% end %>

    
    <%= javascript_include_tag "application" %>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
	(w[c] = w[c] || []).push(function() {
	    try {
		w.yaCounter22767517 = new Ya.Metrika({id:22767517,
			webvisor:true,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true});
	    } catch(e) { }
	});

	var n = d.getElementsByTagName("script")[0],
	    s = d.createElement("script"),
	    f = function () { n.parentNode.insertBefore(s, n); };
	s.type = "text/javascript";
	s.async = true;
	s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	if (w.opera == "[object Opera]") {
	    d.addEventListener("DOMContentLoaded", f, false);
	} else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/22767517" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
